.payment_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 60px;
}
.payment_header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.payment_heading {
  font-size: 42px;
  color: #001244;
}
.payment_text {
  font-size: 20px;
  color: lightslategray;
}
.footer_text {
  font-size: 18px;
  color: lightslategray;
  cursor: pointer;
  text-decoration: underline;
}
.btn {
  background-color: transparent;
  outline: none;
  padding: 1.2vh 3vw;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  border: 1px solid rgb(219, 217, 217);
  cursor: pointer;
}
.payment_container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.details {
  border-radius: 12px;
  padding: 2vh 2vw;
  border: 1px solid #f6f2fb;
  background-color: #fff;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.plan {
  background-color: #09298e;
  color: #fff;
  font-size: 18px;
  padding: 0.7vh 1.5vw;
  border-radius: 12px;
  width: fit-content;
}
.row_1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 2vh;
}
.total_amount_div {
  display: flex;
  flex-direction: row;
  gap: 7px;
  font-size: 34px;
  font-weight: 700;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 3vh;
  color: #001244;
  width: 100%;
  border-bottom: 1px solid rgb(219, 217, 217);
}
.icon {
  font-size: 2rem;
}
.sub_row_1 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.sub_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.heading {
  font-size: 16px;
  color: lightslategray;
}
.text {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  gap: 7px;
}
.row_2 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  padding-bottom: 4vh;
  margin-bottom: 3vh;
  border-bottom: 1px solid rgb(219, 217, 217);
}
.light_text {
  color: lightslategray;
  font-size: 15px;
}
.btn:hover {
  background-color: #09298e;
  color: #fff;
  border: 1px solid transparent;
}

@media screen and (min-width: 1025px) {
  .big_container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .big_container {
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 4vh 0;
  }
  .payment_wrapper {
    gap: 30px;
  }
  .payment_heading {
    font-size: 25px;
  }
  .payment_text {
    font-size: 11px;
  }
  .payment_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .details {
    padding: 2vh 3vw;
    width: 300px;
  }
  .plan {
    font-size: 16px;
    padding: 0.7vh 2vw;
  }
  .light_text {
    font-size: 14px;
  }
  .total_amount_div {
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 2vh;
  }
  .row_2 {
    gap: 15px;
  }
  .icon {
    font-size: 1.5rem;
  }
  .heading {
    font-size: 14px;
  }
  .text {
    font-size: 18px;
  }
  .btn {
    font-size: 16px;
    padding: 1.2vh 3vw;
  }
  .footer_text {
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
    padding-bottom: 2vh;
  }
  .light_text {
    font-size: 14px;
  }
}
