.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
.wrapper {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 10px 1px #b3b3b3;
  margin: 0 auto;
  min-width: 700px;
  padding: 4vh 4vw;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4vh;
}
.heading {
  font-size: 36px;
  color: #001244;
}
.steps {
  font-style: italic;
  font-size: 20px;
}
.new_calc {
  color: blue;
  text-decoration: underline;
  font-size: 18px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  /* height: 18vmax; */
}
.input_details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.label {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 22px;
}
.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  border-bottom: 1px solid #b0b0b0;
  align-items: center;
  padding-bottom: 0.5vh;
}
.input {
  border: none;
  font-size: 14px;
  outline: none;
  padding: 1vh 0.5vw;
  width: 100%;
  font-size: 18px;
}
.icon {
  font-size: 1.8rem;
}
.select {
  width: 100%;
}
.dollar_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #b0b0b0;
  padding-bottom: 1vh;
  padding-top: 0.5vh;
}
.next_btn {
  background-color: #09298e;
  border: none;
  outline: none;
  padding: 1vh 3vw;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}
.small_icon {
  display: flex;
  font-size: 2.2rem;
}
.checkbox_label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  flex: 1 1;
  padding-left: 0.3vw;
}
.checkbox_input {
  transform: scale(1.4);
}
.checkbox_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 18vmax;
  width: 700px;
}
.checkbox_col_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.checkbox_row_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.title {
  font-size: 22px;
}

.center {
  padding-bottom: 2vh;
}

.flex {
  flex: 1 0 33%;
}
.main_center {
  padding-bottom: 2vh;
}
.error {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 1vh;
  font-size: 14px;
  justify-content: center;
}
.new {
  color: lightslategrey;
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .error {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    font-size: 12px;
    justify-content: center;
    gap: 0;
  }
  .main_center {
    padding-bottom: 2vh;
  }
  .center {
    padding-bottom: 3vh;
  }
  .wrapper {
    min-width: 300px !important;
    /* height: 62vmax; */
  }
  .checkbox_form {
    width: 300px !important;
    height: 310px;
  }
  .header {
    flex-direction: column;
    gap: 5px;
    margin-bottom: 3vh;
  }
  .heading {
    font-size: 24px;
  }
  .steps {
    font-size: 12px;
  }
  .label {
    font-size: 18px;
  }
  .icon {
    font-size: 1.4rem;
  }
  .input {
    font-size: 16px;
  }
  .dollar_div {
    font-size: 14px;
  }
  .next_btn {
    font-size: 18px;
    padding: 1vh 5vw;
  }
  .title {
    font-size: 18px;
    line-height: 24px;
  }
  .checkbox_label {
    gap: 30px;
  }
  .small_icon {
    font-size: 1.8rem;
  }
  .select {
    font-size: 16px;
  }
  .checkbox_row_wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1 !important;
  }
}
